<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Swen_project</title>


    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">



  
   </head>  
    
<body>
<h1>Dublin bikes</h1>
<div id="article">
<h2>Awarded for "the greatest benefit to mankind"</h2>
<p>Between 1901 and 2018, the Nobel Prizes and the Prize in Economic Sciences were awarded 590 times
	to 935 people and organisations. The Nobel Prize is an international award administered by the
	Nobel Foundation in Stockholm, Sweden, <a href="{{url_for('bike')}}">Dublin Bike</a>and based on the fortune of Alfred Nobel,Swedish inventor
	and entrepreneur. In 1968, Sveriges Riksbank established The Sveriges Riksbank Prize in Economic
	Sciences in Memory of Alfred Nobel, founder of the Nobel Prize. Each prize consists of a medal,
	a personal diploma, and a cash award.A person or organisation awarded the Nobel Prize is called
	Nobel Laureate. The word “laureate” refers <a href="{{url_for('maps')}}">Google Maps</a>to being signified by the laurel wreath. In ancient
	Greece, laurel wreaths were awarded to victors as a sign of honour.Between 1901 and 2018, the Nobel
	Prizes and the Prize in Economic Sciences were awarded 590 times to 935 people and organizations.
	With some receiving the Nobel Prize more than once, this makes a total of 904 individuals and 24
	organizations. Below, you can view the full list of Nobel Prizes and Nobel Laureates.
	<script src="{{url_for('static',filename='js/index.js')}}"></script>	    </p>
</div>


	<div id="img">

	<img src="{{url_for('static',filename='images/Alfred_Nobel.jpg')}}" alt="Alfred Nobel">
     <h2>Alfred Nobel&nbsp;(1833-1896)</h2>

	</div>
    
     <div class="clear"></div>




</body>
</html>